<main class="create-container">
  <header class="header">
    <a
      routerLink="/articles"
      class="back-link"
      aria-label="Annuler et retourner aux articles"
      >←</a
    >
    <h1>Créer un nouvel article</h1>
  </header>

  <form
    [formGroup]="articleForm"
    (ngSubmit)="onSubmit()"
    class="article-form"
    aria-label="Formulaire de création d'article"
  >
    <div class="form-group">
      <label for="theme-select">Thématique</label>
      <select
        id="theme-select"
        formControlName="theme_id"
        class="custom-select"
        aria-required="true"
      >
        <option [ngValue]="null" disabled selected>Choisir un thème</option>
        @for (theme of themes(); track theme.id) {
        <option [value]="theme.id">{{ theme.title }}</option>
        }
      </select>
    </div>

    <div class="form-group">
      <label for="article-title">Titre de l'article</label>
      <input
        id="article-title"
        type="text"
        formControlName="title"
        placeholder="Titre de l'article"
        class="custom-input"
        aria-required="true"
        [attr.aria-invalid]="
          articleForm.get('title')?.invalid && articleForm.get('title')?.touched
        "
      />
    </div>

    <div class="form-group">
      <label for="article-content">Contenu de l'article</label>
      <textarea
        id="article-content"
        formControlName="content"
        placeholder="Contenu de l'article"
        rows="10"
        class="custom-textarea"
        aria-required="true"
        [attr.aria-invalid]="
          articleForm.get('content')?.invalid &&
          articleForm.get('content')?.touched
        "
      ></textarea>
    </div>

    <div class="form-actions">
      <button
        type="submit"
        [disabled]="articleForm.invalid"
        class="submit-btn"
        aria-label="Publier l'article"
      >
        Envoyer <span class="icon-send" aria-hidden="true">➤</span>
      </button>
    </div>
  </form>
</main>
