.back-link {
  font-size: 2rem;
  text-decoration: none;
  color: var(--text-dark);
  display: inline-block;
  transition: transform 0.2s ease;

  &:hover, &:focus {
    transform: translateX(-5px);
    outline: none;
    color: var(--primary-color);
  }

  &:focus-visible {
  outline: 2px solid var(--primary-color);
  outline-offset: 4px;
}
}