/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #7963FF;
  --danger-color: #dc3545;
  --bg-color: #f8f9fa;
  --text-dark: #333;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.auth-links {
  margin-top: 20px;
  font-size: 0.9rem;
  
  a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    
    &:hover {
      text-decoration: underline;
    }
  }
}