@use 'mixins' as *;

.home-container {
  @include flex-column(50px);
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;

  .logo {
    max-width: 300px;
    height: auto;
    width: 100%;
  }

  .actions {
    display: flex;    
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);    
    width: 100%;    
    
    @include tablet-up {
      flex-direction: row;
      justify-content: center;
    }

    .btn {
      padding: 10px 30px;
      cursor: pointer;
      border-radius: var(--radius-sm);
      min-width: 150px;
      font-weight: 600;
      border: none;
      
      &-primary {
        background-color: var(--primary-color);
        color: white;
      }

      &-secondary {
        background-color: white;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
      }
    }
  }
}