.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 50px;

  .logo {
    max-width: 300px;
    height: auto;
  }

  .actions {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    button {
      padding: 10px 30px;
      cursor: pointer;
      border-radius: 8px;
      min-width: 150px;
    }

    .btn-primary {
      background-color: var(--primary-color);
      color: white;
      border: none;
    }

    .btn-secondary {
      background-color: white;
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
    }
  }
}